body{
    margin: 0;
    padding: 0;

}

header{
    background-color: black;
}

ul{
    list-style-type: none;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px 20px 10px;
    text-decoration: none;
}

li a:hover{
    background-color: rgb(54, 49, 49);
}

.dif{
    float: left;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.dif a:hover{
    background-color: black;
}

.sec1{
    color: white;
    padding: 50px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    
}

h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec1 p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.back{
    background-image: url(cafe2.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    padding: 100px;
}

img{
    width: 30px;
    height: 30px;
}

.sec2{
    text-align: center;
    display: inline-flex;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.la{
    float: left;
}






.sec3{
    background-image: url(service.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    padding: 50%;
}