div{
    background-color: aqua;
    width: 150px;
    height: 150px;
    margin: 5px;
    margin-left: 60px;
    
}

.carre2{
    margin-left: 250px;
    background-color: blueviolet;
    margin-bottom: 150px;
    
}

