.square{
    width: 400px;
    height: 400px;
    background-color: red;
}

.square:hover{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color:yellow;
}

.pho{
    position: relative;
    display: inline-block;
}

.pho2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.pho:hover .pho2{
    display: inline;
}

/* 2*/

section{
    background:url(2.jpg) no-repeat center center/50%;
    height: 200px;
}

section:hover{
    background:url(1.jpg) no-repeat center center/50%;
    height:200px;
}

